@charset "utf-8";

/* reset */

/*Bot全体*/
body {
    padding: 0;
    margin: 0; }
    
#bot {
    background-color: #FFFFFF; /*背景色*/
    border: 1px solid #000000; /*外枠*/

    width: calc(30% + 200px);
    height: 90%;
    max-width: 100%;
    max-height: calc(97% - 50px);

    position: fixed;
    right: 10vw;
    top: 10px;
    bottom: calc(3% + 50px);

    visibility: hidden;
    opacity: 0;
    z-index:9999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; }

#bot_toggle img {
    width: 200px;
    height: auto;

    position: fixed;

    right: -1vw;
    bottom: calc(6% - 15px); }

.pc_main { display: block ; }
.sp_main { display: none ; }

/*mobile*/
@media (max-width:767px) {
    #bot {
        width: 100%; 
        height: 90%;
        max-height: calc(97% + 20px) !important;

        position: fixed;
        right: 0;
        top: 0;
        bottom: calc(2% + 10px) !important; }

    #bot_toggle img {
        width: 100px;
        right: 20px; }

    .pc_main { display: none !important; }
    .sp_main { display: block !important; }
}

/*上部タイトル*/
.wc-header {
	font-family: 'Sitka Small','Charter','Iowan Old Style',serif;
	font-weight: 800;
	font-size: 110%;
	background:#BEDBF7;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	padding:10px;
	letter-spacing:none;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	height: 20%; }

.wc-message-pane{ 
 }

/*メッセージエリア*/
/*背景*/
.wc-message-groups { 
  background: #FFFFFF; 
  }
  
 /*メッセージ・ユーザー送信*/
.wc-message-from-me .wc-message-content {
  background-color: #26619A;
  color: #FFFFFF;
  border-radius:5px;
  border:solid 1px #26619A; }

/*吹き出しの根っこ*/
.wc-message-from-me svg.wc-message-callout path {
 fill: #26619A;
  }


/*メッセージ・レスポンス*/
.wc-message-from-bot .wc-message-content{
	font-weight: normal;
	background:#BEDBF7;
	color: #000000;
	border-radius:5px;
	border:solid 1px #000000;	
	}

/*吹き出しの根っこ*/
.wc-message-from-bot svg.wc-message-callout path {
  fill: #000000;
	}
	

/*入力テキストエリア*/
.wc-console {
	border-top:1px solid #A0A0A0;
	background-color: #FFFFFF;
	  	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
 }
  
  .wc-console > .wc-upload,
  .wc-console > .wc-textbox,
  .wc-console > .wc-send,
  .wc-console > .wc-mic {
    position: absolute;
    top: 0;
    vertical-align: middle; }


/*紙飛行機*/
  .wc-console label, .wc-console button {
    cursor: pointer;
    display: inline-block;
    height: 40px; }
    
  .wc-console svg {
    fill: #000000;
    margin: 11px; }
    
  .wc-console input[type=text],
  .wc-console textarea {
    border: none;
    height: 100%;
    outline: none;
    padding: 0;
    resize: none;   
    width: 100%; }
    
  .wc-console.has-text .wc-send svg {
    fill: #FFFFFF; }
    
  .wc-console .wc-upload {
    cursor: pointer;
    position: relative; }
    
    .wc-console .wc-upload svg {
      height: 18px;
      width: 26px; }
      
  .wc-console #wc-upload-input {
    font-size: 0;
    height: 0;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 0; }
    
  .wc-console .wc-send {
    right: 0; }
    
  .wc-console .wc-send.hidden {
    visibility: hidden; }
    
  .wc-console.has-upload-button .wc-textbox {
    left: 48px; }
    
  .wc-console .wc-textbox {
    bottom: 0;
    left: 11px;
    right: 49px; }
    
    .wc-console .wc-textbox input {
      background-color: transparent; }
      
  .wc-console .wc-mic,
  .wc-console .wc-send {
    background-color: transparent;
    border: 0;
    padding: 0;
    right: 0; }
    
    .wc-console .wc-mic.hidden,
    .wc-console .wc-send.hidden {
      visibility: hidden; }
      
  .wc-console .wc-send svg {
    height: 18px;
    width: 27px; }
    
  .wc-console .wc-mic.active path#micFilling {
    fill: #4e3787; }
    
  .wc-console .wc-mic.inactive path#micFilling {
    visibility: hidden; }

.wc-console.has-text .wc-send svg {
  fill: #FFFFFF; }